<%= form_for [@article, Comment.new] do |f| %>
  <div class="form-inline">
    <%= f.text_field :content, size: '100x10', placeholder: 'Comment...', class: 'form-controller', required: true %>
    <%= f.submit 'Comment', class: 'btn btn-primary' %>
  </div>
<% end %>

